*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: url(image/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  z-index: 99;
}

.logo{
  font-size: 2em;
  color: #fff;
  user-select: none;
}

.menu-icon{
  display: flex;
  color: #fff;
  font-size: 2em;
}

.nav-links.sidebar{
  transform: scale(0);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  padding: 0 10px;
  transition: transform .5s;
}

.nav-links.sidebar.active-sidebar{
  transform: scale(1);
}

.nav-links.sidebar>ul{
  display: flex;
  flex-direction: column;
}

.nav-links.sidebar>ul>li{
  padding: 10px;
  list-style: none;
}

.nav-links.sidebar>ul>li>a{
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.nav-links.sidebar>ul>li>a:hover{
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  padding: 8px;
  border-radius: 5px;
  transition: .5s;
}  

 li>a.action-button{
  display: block;
  border: 1px solid white;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px 0;
}

 li>a.action-button:hover{
  background-color: rgba(255, 255, 255, 0.5);
  transition: .5s;
}  

.sidebar> .sidebar-close{
  position: absolute;
  right: 10px;
  top: 5px;
  color: #fff;
  font-size: 1.5em;
}

 .navigation{
  display: none;
}

.navigation>a{
  position: relative;
  color: #fff;
  font-size: 1.1em;
  text-decoration: none;
  margin-right: 40px;
  font-weight: 500;
}

.navigation>a::after{
  position: absolute;
  left: 0;
  bottom: -6px;
  content: "";
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform .5s;
  transform-origin: right;
}

.navigation>a:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}

.navigation>.btn-login-popup-big,
.navigation>.btn-register-popup-big{
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  transition: .5s;
}

.navigation>.btn-login-popup-big:hover,
.navigation>.btn-register-popup-big:hover{
  background: #fff;
  color: #162938;
}

.navigation>.btn-register-popup-big{
  margin-left: 25px;
}

/* -------------------Login-form-------------- */

.wrapper{
  position: relative;
  margin:70px 30px 0 ;
  padding-top: 40px;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition:transform .5s ease, height .2s ease;
}


.wrapper.btn-active{
  transform: scale(1);
}

.wrapper.register-active{
  height: 520px;
}

.wrapper>.form-box{
  width: 100%;
  padding: 40px 15px;
}

.wrapper>.form-box.login{
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper.register-active>.form-box.login{
  transition: none;
  transform: translateX(-400px);
}

.wrapper>.form-box.register{
  position: absolute;
  transform: translateX(400px);
  transition: none;
}

.wrapper.register-active>.form-box.register{
  transform: translateX(0);
}

.wrapper>.form-box>h2{
  font-size: 1.7em;
  color: #162938;
  text-align: center;
}

.wrapper>.icon-close{
  position: absolute;
  right: 0;
  top:0;
  width: 35px;
  height: 35px;
  background: #162938;
  color: #fff;
  font-size: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index:1;
}


.wrapper>.form-box .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}


.input-box>label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: .5s
}

.input-box input:focus~label,
.input-box input:valid~label{
  top: -5px;
}

.input-box>input{
  width: 100%;
  height:100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 30px 0 5px;
}

input#email-login,
input#email-register{
  text-transform: lowercase;
}

input#username{
  text-transform: capitalize;
}

.invalid-input{
  font-size: 12px;
  color: red;
  display: none;
}

.display-invalid{
  display: block;
  font-size: 12px;
  color: red;
}


.input-box>.icon{
  position: absolute;
  right: 0px;
  font-size: 1.2em;
  color: #162938;
  bottom: 6px;
  /* line-height: 57px; */
}

.remember-forgot{
  font-size: .9em;
  color: #162938;
  font-weight: 500;
  margin: -10px 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.remember-forgot label input{
  accent-color: #162938;
  margin-right: 3px;
}

.remember-forgot a{
  color: #162938;
  text-decoration: none;
  margin-top: 15px;
  text-align: center;
}


.remember-forgot a:hover{
  text-decoration: underline;
}

.btn{
  width: 100%;
  /* padding: 15px 0 15px; */
  height: 45px;
  background: #162938;
  color: #fff;
  border: 0;
  outline: 0;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
}

.login-register{
 font-size: 0.9em;
 color: #162938;
 text-align: center;
 font-weight: 500;
 margin: 15px 0 20px;
}

.login-register>p>a{
  color: #162938;
  text-decoration: none;
  font-weight: 600;
}

.login-register>p>a:hover{
  text-decoration: underline;
} 





/* ---------------Media responsiveness----------- */

  @media(min-width:950px) {
    .navigation{
      display: block;
    }

    .menu-icon{
      display: none;
    }

    .wrapper>.form-box{
      padding: 40px;
    }

    .wrapper>.form-box>h2{
      font-size: 2em;
    }

    .wrapper>.icon-close{
      width: 45px;
      height: 45px;
      font-size: 2em;
      
    }

    .input-box>input{
      padding: 0 50px 0 5px;
    }

    .remember-forgot{
      display: flex;
      flex-direction: row;
      align-items: center;
  
    }

    .remember-forgot>a{
      margin-top: 0;
    }

    .login-register{
      margin: 25px 0 10px;
     }
  }
 
  @media(min-width:1400px){
    header{
      padding: 0 100px;
    }
  }

  



/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: url(image/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo{
  font-size: 2em;
  color: #fff;
  user-select: none;
}

.menu-icon{
  display: none;
}

.navigation>a{
  position: relative;
  color: #fff;
  font-size: 1.1em;
  text-decoration: none;
  margin-right: 40px;
  font-weight: 500;
}

.navigation>a::after{
  position: absolute;
  left: 0;
  bottom: -6px;
  content: "";
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform .5s;
  transform-origin: right;
}

.navigation>a:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}

.navigation>.btn-login-popup{
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  transition: .5s;
}

.navigation>.btn-login-popup:hover{
  background: #fff;
  color: #162938;
}

.wrapper{
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition:transform .5s ease, height .2s ease;
}

.wrapper.btn-active{
  transform: scale(1);
}

.wrapper.active{
  height: 520px;
}

.wrapper>.form-box{
  width: 100%;
  padding: 40px;

}

.wrapper>.form-box.login{
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper.active>.form-box.login{
  transition: none;
  transform: translateX(-400px);
}

.wrapper>.form-box.register{
  position: absolute;
  transform: translateX(400px);
  transition: none;
}

.wrapper.active>.form-box.register{
  transform: translateX(0);
}

.wrapper>.form-box>h2{
  font-size: 2em;
  color: #162938;
  text-align: center;
}

.wrapper>.icon-close{
  position: absolute;
  right: 0;
  top:0;
  width: 45px;
  height: 45px;
  background: #162938;
  color: #fff;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index:1;
}

.wrapper>.form-box .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}

.input-box>label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: .5s
}


.input-box input:focus~label,
.input-box input:valid~label{
  top: -5px;
}

.input-box>input{
  width: 100%;
  height:100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 50px 0 5px;
}

.input-box>.icon{
  position: absolute;
  right: 30px;
  font-size: 1.2em;
  color: #162938;
  bottom: 6px;
  line-height: 57px; this was commented out in the original code
}

.remember-forgot{
  font-size: .9em;
  color: #162938;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input{
  accent-color: #162938;
  margin-right: 3px;
}

.remember-forgot a{
  color: #162938;
  text-decoration: none;
}

.remember-forgot a:hover{
  text-decoration: underline;
}

.btn{
  width: 100%;
  padding: 15px 0 15px; this was commented out in the original code
  height: 45px;
  background: #162938;
  color: #fff;
  border: 0;
  outline: 0;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
}

.login-register{
 font-size: 0.9em;
 color: #162938;
 text-align: center;
 font-weight: 500;
 margin: 25px 0 10px;
}

.login-register>p>a{
  color: #162938;
  text-decoration: none;
  font-weight: 600;
}

.login-register>p>a:hover{
  text-decoration: underline;
}



@media(max-width:980px) {
  header{
    display: flex;
    align-items:stretch;
    justify-content: space-between;
  }
  .navigation{
    display: none;
  }

  .menu-icon{
    display: block;
    font-size: 2.5em;
    color: #fff;
    position: relative;
    cursor: pointer;
  }

  .nav-links{
    position: relative;
  }

  .navigation.menu-active{
    position:absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 1.1em;
    margin-top: -12px;
  }

  .navigation>.btn-login-popup{
    width: 80px;
    height: 35px;
  }

  .navigation>a::after{
    bottom: 2px;
  }

  #contact{
    margin-bottom: 8px;
  }
} */